{% extends "base.html" %}

{% block title %}Editing {{ post.title }}{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/post.css') }}" rel="stylesheet">{% endblock %}


{% block content %}


<br>
<div class="container">
    <div class="row">
        <div class="col">
            {% with messages = get_flashed_messages() %}
            {% for msg in messages %}
            <p class="text-light float-right">{{ msg }}</p>
            {% endfor %}
            {% endwith %}
            <h1>editing {{ post.title }}...</h1>
            <hr style="background-color: white;">
            <form method="POST" action="/admin/edit-post/{{ post.title }}">
                <label>title</label>
                <div class="title">
                    <input type="title" class="form-control" id="title" name="edited-title" value="{{ post.title }}"
                        required>
                </div>
                <br>
                <label>blog</label>
                <div class="blog">
                    <textarea class="form-control" name="edited-post" id="post" rows="10" wrap="soft"
                        required>{{ post.post }}</textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-light">edit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{ url_for('static', filename='js/imgup.js') }}"></script>{% endblock %}