{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">{% endblock %}


{% block content %}
{% with messages = get_flashed_messages() %}
{% for msg in messages %}
<p class="text-light float-right">{{ msg }}</p>
{% endfor %}
{% endwith %}
<br><br>

{% if blogs == [] %}
<h2 style="color: white;">There is no post threads.</h2>
<br>
{% endif %}
{% for blog in blogs %}

<div class="card border-light mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ blog.title }}</h5>
        {% if blog.post|length >= 200 %}
        {% set post = blog.post[:200] %}
        <p class="card-text">{{ post }}...</p>
        {% else %}
        <p class="card-text">{{ blog.post }}...</p>
        {% endif %}
        <p class="card-text"><small class="black-text d-flex justify-content-start">{{ blog.created_date[:-7] }}</small>
        </p>
        <a href="{{ url_for('post.read', id=blog._id) }}" class="black-text d-flex justify-content-end">
            <h5>Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></h5>
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}