{% extends "base.html" %}


{% block title %}Login{% endblock %}


{% block content %}
    <br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Login</h1>
                <hr>
                <form action='/' method='POST'>
                    <div class="form-group">
                        <label for="email">email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="enter your email" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="password">password</label>
                        <input type="password" class="form-control" placeholder="enter your password" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-outline-light">Login</button>
                    {% if feedback %}
                        <p class="text-danger float-right">{{ feedback }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}