{% extends "base.html" %}

{% block title %}Register{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
    {% for msg in messages %}
        <p class="text-light float-right">{{ msg }}</p>
    {% endfor %}
{% endwith %}

    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>register</h1>
                <hr>
                <form action="/register" method="POST">
                    <div class="form-group">
                        <label>username</label>
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="select a username">
                    </div>
                    <div class="form-group">
                        <label>email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="enter your email">
                    </div>
                    <div class="form-group">
                        <label>password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="create a password">
                    </div>
                    <button type="submit" class="btn btn-outline-light">register</button>
                    {% if feedback %}
                        <br>
                        <p class="text-danger float-right">{{ feedback }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}